@charset "utf-8";

// Define defaults for each variable.

$base-font-family:  "Fira Sans", sans-serif !default;

$base-font-size:    16px !default;
$small-font-size:   0.8em !default;

$base-font-weight:  200 !default;
$bold-font-weight:  $base-font-weight * 2 !default;
$light-font-weight: $base-font-weight * 0.5 !default;

$base-line-height:  1.6 !default;

$spacing-unit:      30px !default;

$text-color:        #3c484e !default;
$background-color:  #fdfdfd !default;
$brand-color:       #2a7ae2 !default;
$link-color:        #0037B3 !default;

$grey-color:        #828282 !default;
$grey-color-light:  lighten($grey-color, 40%) !default;
$grey-color-dark:   darken($grey-color, 25%) !default;


$table-text-align:  left !default;

$code-bg-color:     #f6f8fa;
$code-font-family:  "Fira Code", monospace !default;
$code-font-size:    0.9em;
$code-font-weight:  300;
$code-bold-weight:  $code-font-weight * 2;
$code-line-height:  1.4;

// Width of the content area
$content-width:     45em !default;
$on-palm:           36px !default;
$on-laptop:         45px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

main p {
  text-align: justify;
}

main.book-style p {
  text-align: justify;
  text-indent: 1.5em;
}

main.book-style p:first-of-type {
  text-indent: 0em;
}

main h1, main h2, main h3, main h4 {
  font-weight: $light-font-weight;
}

h3 > .post-link {
  margin: 0px;
}

strong {
  font-weight: $bold-font-weight;
}

figure {
  font-size: $small-font-size;
}

a, a:visited {
  color: $link-color;
}

.meta {
  color: $grey-color-light;
  font-size: $small-font-size;
}

.social-media-list {
    font-size: $small-font-size
}

.footnote::before {
    content: "[";
}

.footnote::after {
    content: "]";
}

.footnotes {
    font-size: $small-font-size;
}

pre, code {
  background-color: $code-bg-color;
  font-family: $code-font-family;
  font-size: $code-font-size;
  font-weight: $code-font-weight;
  line-height: $code-line-height;
}

.highlighter-rouge .highlight {
    background-color: $code-bg-color;
}

.highlight .o, .highlight .k {
  font-weight: $code-bold-weight !important;
}

.rouge-table {
    border: 0px;
    margin: 0px;
}

.rouge-table td {
    border: 0px;
    padding: 0px;
}

.rouge-table td pre {
    border: 0px;
    margin: 0px;
    padding-left: 0px;
}
